@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

body {
    background-color: #f4f4f9;
    background: url("https://images.unsplash.com/photo-1669951584304-8da02ea5a54f?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    color: #333;
    padding: 2rem;
    font-size: 16px;
    line-height: 1.5;
}

.money-img {
    width: 100px;
    height: auto;
    display: block;
    margin: 1rem auto;
}

h1 {
    text-align: center;
    font-weight: 600;
    color: rgb(75, 112, 54);
    margin-bottom: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    gap: 2rem;
}

.currency {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.currency span {
    font-size: 1.5rem;
}

.currency p {
    flex: 1;
    text-align: left;
    font-weight: 500;
    color: #555;
}

.currency select,
.currency input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    max-width: 120px;
}

.swap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.swap .btn {
    background-color: green;
    color: #fff;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s;
}

.swap .btn:hover {
    background-color: chartreuse;
}

.rate {
    font-weight: 600;
    color: #444;
    margin-top: 0.5rem;
}

/* Responsive */
@media (max-width: 600px) {
    .currency {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .currency p,span {
        display: block;
        margin: 0 auto;
    }

    .currency select,
    .currency input {
        max-width: 100%;
        width: 100%;
    }

    .swap .btn {
        width: 100%;
    }
}
